body,html{
    background-color:rgb(200, 213, 255);
}

h1{
    color: azure;
    font-size: 50px;
    
}

.blurb{
    color: greenyellow;
}

.main{
    padding-left: 10vw;
    padding-top: 10vh;

}