body,html{
    background-image:url(seawaves.jpg);
    background-size: cover;
    background-attachement: fixed;
    
}

h1{
    color: azure;
    font-size: 50px;
    
}


.main{
    padding-left: 30vw;
    padding-top: 33vw;
}
