body,html{
    background-image:url(seawaves.jpg);
    background-size: cover;
    background-attachement: fixed;
    
}

h1{
    color: azure;
    font-size: 50px;
    
}

.headertwo img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.headertwo h2 {
  position: relative;
  top: 18px;
  left: 10px;

.main{
    padding-left: 30vw;
    padding-top: 33vw;
}
